.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    padding: 30px 50px;
  }
  
  h2 {
   font-family: sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 24px;
   padding: 10px;
   text-align: center;
 }

   input {
   border: 1px solid #d9d9d9;
   border-radius: 10px;
 }
  input[type="text"],
  input[type="password"] {
    height: 25px;
    width: 100%;
    padding: 10px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    font-size: 15px;
    background: #6c6d6d;
    color: #fff;
    padding: 10px 20px;
    width: 60%;
  }
  
  .button-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

 label {
   font-family: sans-serif;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 5px;
 }
  .error {
    color: red;
    font-size: 12px;
  }