  button {
    margin-top: 10px;
    font-size: 15px;
    background: #6c6d6d;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  
  .fetchDataButton {
    margin-left: 60px;
  }

  .userConnect{
    margin-top: 10px;
    margin-left: 60px;
    font-family: sans-serif;
  }
  
  .table{
    margin-top: 60px;
  }